@font-face {
  font-family: 'Panchang-Bold';
  src: url('Panchang-Bold.woff2') format('woff2'),
       url('Panchang-Bold.woff') format('woff'),
       url('Panchang-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

*::selection {
  color: #ffffff;
  background-color: #0c5cf7;
}

/* Set the scroll behavior to smooth so that when you click the in the header, the screen scrolls down rather than jumps */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Set the margin to 0 to make sure the page stretches all the way to the edge of the browser window. */
body {
  margin: 0;
  background: #0c5cf7;  /* fallback for old browsers */
  background-attachment: fixed;
}

header {
  text-align: left;
  /* border: 10px solid #ff0000; */
  background: #0c5cf7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(150deg, #3ad8f4, #0c5cf7, #0c5cf7, #0c5cf7, #0c5cf7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(150deg, #3ad8f4, #0c5cf7, #0c5cf7, #0c5cf7, #0c5cf7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'IBM Plex Sans', sans-serif;
  color: #ffffff;
  min-height: 100vh;
  /* min-width: 500px; */
}

h1 {
  font-family: "Panchang-Bold", sans-serif;
  font-weight: 800;
  font-size: calc(1em + 5vw);
  border-bottom: 1px solid;
  text-align: center;
  margin: 40px 0;
  padding-bottom: 20px;
  /* line-height: 1.3; */
}

h1::selection {
  background-color: #ffffff;
  color: #0c5cf7;
}

.bio {
  margin: 40px 0;
  color: #ffffff;
  font-size: 32px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.bio::selection {
  background-color: #ffffff;
  color: #0c5cf7;
}

.buttonBox {
  display: flex;
  justify-content: center;
  align-content: center;
}

.myButton {
  border-radius: 1000px;
  cursor: pointer;
  color: #ffffff;
  border: 1px #ffffff solid;
  background-color: #00000000;
  font-size: 20px;
  padding: 16px 31px;
  text-decoration: none;
  margin: 1.69em auto;
  min-width: 200px;
  text-align: center;
}

.myButton:hover {
    background-color:#ffffff;
    color: #0c5cf7;
}

.myButton:active {
    position:relative;
    top:1px;
}

.myButton::selection {
  background-color: #ffffff;
  color: #0c5cf7;
}

img {
  width: 100%;
  /* height: auto; */

  border-radius: 20px;
  height: 50vh;
  object-fit: cover;
}

.overlay {
  /* width: 100vw; */
  height: 100vh;
  position: absolute;
  pointer-events: none;
  /* mix-blend-mode: screen; */
  user-select: none;
}

main {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(40%, 1fr) ) ; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 44px 40px;
  background-color: #ffffff;
  backdrop-filter: blur(10px) saturate(50%) brightness(120%);

  border-radius: 25px;

  justify-items: center;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0.3px;
  text-align: left;
  color: #0c5cf7;
  padding: 10px 0px 10px 10px;
}

h2::selection {
  color: #ffffff;
  background-color: #0c5cf7;
}

.description {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #0c5cf7;
  padding: 10px 0px 10px 10px;
}

.description::selection {
  color: #ffffff;
  background-color: #0c5cf7;
}

a {
  text-decoration: none;
}

.wrapper {
  /* max-width: 1150px; */
  max-width: 100%;
  margin: auto;
  /* padding: 50px; */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.logo {
  width: 115px;
  height: 21.1px;
  object-fit: contain;
  padding: 20px;
}

.container {
  /* min-width: 500px; */
  margin: auto;
}

footer {
  background-attachment: fixed;

  padding: 20px 40px;
}

.copyright {
  margin: 0 0;
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 18px;
  display: inline;
}

.icons {
  list-style-type: none;
  display: inline-flex;
}

.icons a {
  font-size: 18px;
  margin: 0 8px;
  color: #ffffff;
}

.icons .twitter:hover {
  color: #11a1f2;
}

.icons .instagram:hover {
  color: #dd1bd9;
}

/* ---------------------------------------------- */

@media all and (max-width:1100px) {
  main {
    grid-template-columns: 1fr 1fr;
  }

  .description {
    font-size: 18px;
  }

  img {
    height: 35vh;
  }
}

@media all and (max-width:700px) {
  main {
    grid-template-columns: 1fr;
  }

  .description {
    font-size: 18px;
  }

  img {
    height: 25vh;
  }
}